.footer {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;

    @include breakpoint-up(medium) {
      display: flex;
      justify-content: flex-end;
    }

    ion-icon {
      color: white;
      font-size: 32px;
      transition: color 100ms ease-in-out;

      &:hover {
        color: $softMagenta;
      }

      &:not(:last-child) {
        margin-right: 1.3125rem;
      }
    }
  }
}
