.header {
  img {
    max-width: 8.125rem;
    max-height: 1.875rem;

    @include breakpoint-up(large) {
      min-width: 13.75rem;
      max-width: 13.75rem;
      min-height: 3.25rem;
      max-height: 3.25rem;
    }
  }
}
